<main>
  <div class="d-flex column p-1  bg wrap">
    <div class="d-flex spc-btw m-100 h-auto f-center">
      <div class="d-flex f-center">
        <p> Post <%= "#" %><%= @post.id %></p>
        <h3> by <%= @post.user.name %> </h3>
      </div>
      <div>
        <p> Comments: <%= @post.comment_counter %>, Likes: <%= @post.like_counter %> </p>
      </div>
    </div>
    <p><%= @post.text %></p>
  </div>
  <div class="p-1 wrap">
    <h3>Comments:</h3>
      <ul>
        <% if @post.recent_comments.any? %>
          <% @post.comments.each do |comment| %>
            <li class="bg">
              <p><%=comment.user.name %> : <%=comment.text %></p>
            </li>
          <% end %>
            <% else %>
            <li>
            <p>No comments yet.</p>
                </li>
        <% end %>
      </ul>
  </div>
</main>